<p>basics works!</p>
<h2>test css file code</h2>
<p>{{getStringValue()}}</p>

<h4>Property Binding</h4>
<button [disabled]="!property_enable">click</button>

<h4>Data Binding</h4>
<p [innerText]="db_name"></p>

<div>
    <h4>Event Binding</h4>
    <button (click)="getEventBindingData()">click</button>
    <p>{{event_data}}</p>

    <input (input)="getInputEvent($event)">
    <br>
</div>

<div>
    <h4>Two way data binding</h4>
    <!--combined property with event-->
    <input [(ngModel)]="two_way_data"><br>
    <p>{{two_way_data}}</p>
    <button (click)="getEventBindingData()" [disabled]="two_way_data === 'anbu'">click</button>
</div>

<div>
    <h4>Directives</h4>
    <p>Directives are instruction in the DOM</p>
    <p [ngStyle]="{'background': isBlue ? 'pink' : 'red'}"> I am an Attribute Directive</p>
    <p *ngIf="show">I am a Structural Directive</p>

    <div *ngIf="isShow;then content else other_content">Ng IF Else Block...</div>    
    <ng-template #content>content here...</ng-template>
    <ng-template #other_content>other content here...</ng-template>

    <ul *ngFor="let item of student_data" type=none>
        <li>Id: {{item.id}}</li>
        <li>Name: {{item.name}}</li>
        <li>Age: {{item.age}}</li>
        <li>Mobile: {{item.mobile}}</li>
    </ul>

    <select [(ngModel)]="selectedValue">  
        <option *ngFor="let item of student_data;" [value]="item.name">{{item.name}}</option>  
    </select>    
    <div class='row' [ngSwitch]="selectedValue">  
        <div *ngSwitchCase="'Anbarasan'">Anbarasan is selected</div>  
        <div *ngSwitchCase="'Kannan'">Kannan is selected</div>  
        <div *ngSwitchDefault>Guhan Ganesan is selected</div>  
    </div>
</div>


<br><br><br>




