<!DOCTYPE html>
<html lang="english">
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
  <h2>Anguar10!</h2>
  <h3> Lazy loading for routing </h3>
  <ul>
    <ol><a routerLink="admin/login">Login  </a></ol>
    <ol><a routerLink="admin/list">List </a></ol>
  </ul>
  <router-outlet> </router-outlet>
  <h3>Lazy loading component</h3>
  <button (click)="adminLoad()">Admin Loading</button>
  <button (click)="userLoad()">User Loading</button>
   
  <h3>Template driven forms</h3>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <input type="text" name="email" ngModel>
    <br><br>
    <input type="password" name="pass" ngModel>
    <br><br>
    <button type="submit">submit</button>
  </form>
</body>
</html>
