<!DOCTYPE html>
<html lang="english">
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
  <div class="container">
      <!-- Interpolation to display the myapp
      <h2>{{title}}</h2>
        
      ngModel directive for gettting user input which is available in the FormsModule
      <input type="text" [(ngModel)]="name"><br>
      <h3>Display Name: {{name}}</h3>

      generate new child component for basics => ng g c basics then call selector for accessing that component
      <app-basics></app-basics>

      <h3 appMydirective>Touch me to check custom directive</h3>

      <h3>Reactive Forms Example</h3>
      <app-my-reactive-forms></app-my-reactive-forms>
       
      <h3>Template Driven Forms</h3>
      <app-template-driven-forms></app-template-driven-forms>
      -->
      
      <div class="container">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/basics'">Basics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/reactive-forms'">Reactive Forms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/template-driven-forms'">Template Driven Forms</a>
          </li>
        </ul>
        <router-outlet>  </router-outlet>
      </div>
      
      
  </div>
</body>
</html>